extends layout

block content
  div.container-fluid(ng-controller='StatsCtrl')
    div.row
      div.col-lg-6
        div.col-sm-12
          h1= title
          p Welcome to #{title}

        div.clearfix

        div.col-xs-6.stat-holder
          div.row.big-info.nodesactive.text-success
            div.pull-left.icon-full-width
              i.icon-bulb
            div.pull-left
              span.small-title nodes active
              span.big-details {{nodesActive}}/{{nodesTotal}}
            div.clearfix
        div.col-xs-6.stat-holder
          div.row.big-info.bestblock.text-info
            div.pull-left.icon-full-width
              i.icon-block
            div.pull-left
              span.small-title best block
              span.big-details {{"#" + bestBlock}}
            div.clearfix
        div.col-xs-6.stat-holder
          div.row.big-info.blocktime.text-success
            div.pull-left.icon-full-width
              i.icon-time
            div.pull-left
              span.small-title last block
              span.big-details(am-time-ago="lastBlock", am-preprocess="unix")
            div.clearfix
        div.col-xs-6.stat-holder
          div.row.big-info.uptime.text-info
            div.pull-left.icon-full-width
              i.icon-clock
            div.pull-left
              span.small-title up-time
              span.big-details 100%
            div.clearfix

        div.clearfix

      div.col-lg-6
        div.col-xs-12
          div#mapHolder

      div.clearfix

      div.col-sm-12
        h1 Nodes in detail

        table.table.table-striped
          thead
            tr.text-info
              th
                i.icon-node
              th
                i.icon-laptop
              th
                i.icon-group
              th
                i.icon-mining
              th
                i.icon-block
              th.hidden-sm.hidden-xs &nbsp;
              th
                i.icon-time
              th
                i.icon-clock
          tbody
            tr(ng-repeat='node in nodes', class="{{ node.stats | mainClass : bestBlock }}")
              td(rel="{{node.id}}") {{node.name}}
              td {{node.type}}
              td(class="{{ node.stats.peers | peerClass }}") {{node.stats.peers}}
              td(class="{{ node.stats.mining | miningClass }}")
                i(class="{{ node.stats.mining | miningIconClass }}")
              td(class="{{ node.stats.block.height | blockClass : bestBlock }}") {{'#' + node.stats.block.height}}
              td(class="{{ node.stats.block.height | blockClass : bestBlock }}").hidden-sm.hidden-xs
                span.small {{node.stats.block.hash}}
              td(am-time-ago="node.stats.block.timestamp", am-preprocess="unix")
              td {{ node.stats.active ? '100%' : '0%' }}
