//- index.jade
extends ./layout.jade

block content
  div.container-fluid
    div.row.padding-top
      img.col-xs-push-2.col-xs-8.col-sm-push-4.col-sm-4(src="ktestnet.png")
    div.row.padding-top
      h3.col-xs-12.text-center An alternative blockchain for testing the Kowala Protocol, kCoins and mTokens. 
    div.row.padding-top
      div.col-xs-12
        h4.kowala.text-center kUSD Codebase
      div.col-xs-12.text-center
        a.kowala(href="https://github.com/kowala-tech/kUSD" target="_blank") github.com/kowala-tech/kUSD
    div.row.padding-top
      div.col-xs-12
        h4.kowala.text-center kUSD Testnet Stats
      div.col-xs-12.text-center
        a.kowala(href="/stats/" target="_blank") testnet.kowala.io/stats
    //- div.row.padding-top
    //-   div.col-xs-12
    //-     h4.kowala.text-center kUSD Faucet
    //-   div.col-xs-12.text-center
    //-     a.kowala(href="//testnet.kowala.io/faucet" target="_blank") testnet.kowala.io/faucet
