//- layout.jade
doctype html
html(ng-app="netStatsApp")
  head
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0")
    title MIX Network Stats
    style(type="text/css") [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak { display: none !important; }
    link(rel='stylesheet', href='/css/netstats.min.css')
    link(rel='shortcut icon', href='/mix-logo-thick.svg', sizes='any' type='image/svg+xml')
    link(rel='shortcut icon', href='/mix-logo-thick-1024.png', sizes='1024x1024' type='image/png')
    link(rel='shortcut icon', href='/mix-logo-thick-512.png', sizes='512x512' type='image/png')
    link(rel='shortcut icon', href='/mix-logo-thick-256.png', sizes='256x256' type='image/png')
    link(rel='shortcut icon', href='/mix-logo-thick-128.png', sizes='128x128' type='image/png')
    link(rel='shortcut icon', href='/mix-logo-thick-64.png', sizes='64x64' type='image/png')
    meta(name='robots', content='index,follow')
    meta(name='googlebot', content='index,follow')
  body
    block content

    script(src="/js/netstats.min.js")
