//- index.jade
extends ./layout.jade

block content
  div.container-fluid(ng-controller='StatsCtrl')
    div.row
      div.col-xs-12.stats-boxes
        div.row.second-row
          div.col-xs-12.stat-holder.box
            div.active-nodes.text-danger
              i.icon-hashrate
              span.small-title SECURITY ALERT
              span.small-value
                a(href="https://blog.ethereum.org/2015/09/10/security-alert-previous-security-patch-can-lead-to-invalid-state-root-on-go-clients-with-a-specific-transaction-sequence-fixed-please-update/", target="_blank", class="text-danger") Read the blog post
      div.col-xs-12.stats-boxes
        div.row.second-row
          div.col-xs-12.stat-holder.box
            div.active-nodes.text-orange
              i.icon-hashrate
              span.small-title Olympic block #1028201 hash
              span.small-value {{frontierHash}}

    div.row(ng-cloak)
      div.col-lg-3.col-md-3.col-sm-6.stat-holder
        div.big-info.bestblock.text-info
          div.pull-left.icon-full-width
            i.icon-block
          div.big-details-holder
            span.small-title best block
            span.big-details {{'#'}}{{ bestBlock | number}}
          div.clearfix
      div.col-lg-3.col-md-3.col-sm-6.stat-holder
        div.big-info.blocktime(class="{{ lastBlock | timeClass : true }}")
          div.pull-left.icon-full-width
            i.icon-time
          div.big-details-holder
            span.small-title last block
            span.big-details {{ lastBlock | blockTimeFilter }}
          div.clearfix
      div.col-lg-3.col-md-3.col-sm-6.stat-holder
        div.big-info.avgblocktime(class="{{ avgBlockTime | avgTimeClass }}")
          div.pull-left.icon-full-width
            i.icon-gas
          div.big-details-holder
            span.small-title avg block time
            span.big-details {{ avgBlockTime | avgTimeFilter }}
          div.clearfix
      div.col-lg-3.col-md-3.col-sm-6.stat-holder
        div.big-info.difficulty.text-danger
          div.pull-left.icon-full-width
            i.icon-difficulty
          div.big-details-holder
            span.small-title difficulty
            span.big-details
              span.small-hash {{ lastDifficulty | number }}
          div.clearfix

      div.clearfix

    div.row(ng-cloak)
      div.col-xs-12.stats-boxes(style="padding-top: 0px;")
        div.row.second-row
          div.col-md-4.col-sm-12.stat-holder.box
            div.active-nodes(class="{{ nodesActive | nodesActiveClass : nodesTotal }}")
              i.icon-node
              span.small-title active nodes
              span.small-value {{nodesActive}}/{{nodesTotal}}
          div.col-md-4.col-sm-12.stat-holder.box
            div.gasprice(class="{{ nodes | consensusClass : bestStats }}")
              i.icon-check-o
              span.small-title nodes status
              span.small-value {{ nodes | consensusFilter : bestStats }}
          div.col-md-4.col-sm-12.stat-holder.box
            div.page-latency(class="{{ {active: true, latency: latency} | latencyClass }}")
              i.icon-clock
              span.small-title page latency
              span.small-value {{latency}} ms

    div.row(ng-cloak, style="padding-top: 10px")
      table.table.table-striped
        thead
          tr.text-info
            th.th-nodecheck.hidden-xs
              i.icon-check-o(data-toggle="tooltip", data-placement="top", title="Pin nodes to display first", ng-click="orderTable(['-stats.block.number', 'stats.block.propagation'], false)")
            th.th-nodename
              i.icon-node(data-toggle="tooltip", data-placement="top", title="Node name", ng-click="orderTable(['info.name'], false)")
            th.th-nodetype.hidden-xs
              i.icon-laptop(data-toggle="tooltip", data-placement="top", title="Node type", ng-click="orderTable(['info.node'], false)")
            th.th-latency
              i.icon-clock(data-toggle="tooltip", data-placement="top", title="Node latency", ng-click="orderTable(['stats.latency'], false)")
            //- th
              i.icon-group(data-toggle="tooltip", data-placement="top", title="Peers", ng-click="orderTable(['-stats.peers'], false)")
            th
              i.icon-block(data-toggle="tooltip", data-placement="top", title="Last block", ng-click="orderTable(['-stats.block.number', 'stats.block.propagation'], false)")
            th.th-blockhash.hidden-xs &nbsp;
            th.th-blockhash.hidden-xs
              i.icon-difficulty(data-toggle="tooltip", data-placement="top", title="Total difficulty", ng-click="orderTable(['-stats.block.totalDifficulty'], false)")
            th.th-blocktime
              i.icon-time(data-toggle="tooltip", data-placement="top", title="Last block time", ng-click="orderTable(['-stats.block.received'], false)")
            th.th-peerPropagationTime
              i.icon-gas(data-toggle="tooltip", data-placement="top", title="Propagation time", ng-click="orderTable(['-stats.block.number', 'stats.block.propagation'], false)")
            //- th.th-peerPropagationChart
            //- th.th-peerPropagationAvg
              i.icon-gas(data-toggle="tooltip", data-placement="top", title="Average propagation time", ng-click="orderTable(['stats.propagationAvg'], false)")
        tbody(ng-cloak)
          tr(ng-repeat='node in nodes | orderBy:predicate track by node.id', class="{{ node.stats | mainClass : bestBlock }}", id="node_{{node.id}}")
            td.td-nodecheck.hidden-xs
              i(ng-click="pinNode(node.id)", class="{{ node.pinned | nodePinClass }}", data-toggle="tooltip", data-placement="right", data-original-title="Click to {{ node.pinned ? 'un' : '' }}pin")
            td.nodeInfo(rel="{{node.id}}")
              span.small(data-toggle="tooltip", data-placement="top", data-html="true", data-original-title="{{node | geoTooltip}}") {{node.info.name}}
              span.small &nbsp;({{node.info.ip}})
              a.small(href="https://github.com/ethereum/wiki/wiki/Network-Status#updating", target="_blank", data-toggle="tooltip", data-placement="top", data-html="true", data-original-title="Netstats client needs update.<br>Click this icon for instructions.", class="{{ node.info | nodeClientClass : currentApiVersion }}")
                i.icon-warning-o
            td.hidden-xs
              div.small(ng-bind-html="node.info.node | nodeVersion")
            td(class="{{ node.readable.latencyClass }}")
              span.small {{ node.readable.latency }}
            //- td(class="{{ node.stats.peers | peerClass : node.stats.active }}", style="padding-left: 11px;") {{node.stats.peers}}
            td(class="{{ node.stats | blockClass : bestBlock }}")
              span(class="{{ node.readable.forkMessage ? node.readable.forkClass : '' }}") {{'#'}}{{ node.stats.block.number | number }}
              a.small(data-toggle="tooltip", data-placement="top", data-html="true", data-original-title="{{ node.readable.forkMessage }}", class="{{ node.readable.forkClass }}")
                i.icon-warning-o
            td(class="{{ node.stats | blockClass : bestBlock }}").hidden-xs
              span.small {{node.stats.block.hash | hashFilter}}
            td(class="{{ node.stats | blockClass : bestBlock }}").hidden-xs
              span.small {{node.stats.block.totalDifficulty | number}}
            td(class="{{ node.stats.block.received | timeClass : node.stats.active }}") {{node.stats.block.received | blockTimeFilter }}
            td(class="{{ node.stats | propagationTimeClass : bestBlock }}")
              div.propagationBox
              span {{node.stats.block.propagation | blockPropagationFilter}}
            //- td.peerPropagationChart(class="{{node.id}}")
              nodepropagchart(data="{{node.history.join(',')}}")
            //- td(class="{{ node.stats | propagationNodeAvgTimeClass : bestBlock }}") {{ node.stats | blockPropagationAvgFilter : bestBlock }}
