html {
	width: 100%;
	height: 100%;
}

#particles-js{
	position: fixed;
	width: 100%;
	height: 100%;
}

.gradient-bg{
	background: #531c85 !important;
  background: -moz-linear-gradient(top, #531c85 0%, #571b84 14%, #641980 30%, #7a157a 46%, #981071 62%, #be0a65 79%, #ed0258 96%, #f90054 100%) !important;
  background: -webkit-linear-gradient(top, #531c85 0%, #571b84 14%, #641980 30%, #7a157a 46%, #981071 62%, #be0a65 79%, #ed0258 96%, #f90054 100%) !important;
  background: linear-gradient(to bottom, #531c85 0%, #571b84 14%, #641980 30%, #7a157a 46%, #981071 62%, #be0a65 79%, #ed0258 96%, #f90054 100%) !important;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#531c85', endColorstr='#f90054',GradientType=0 );
  color: #fff;
}

.padding-top{
	padding-top: 2em;
}

.container-fluid {
  padding-left: 30px !important;
  padding-right: 30px !important;
}

body {
	width: 100%;
	height: 100%;
	font-smooth: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-family: "Montserrat";
  background: #20033f !important;
}

table {
	min-width: 1200px;
}

table td {
	font-size: 14px;
	white-space: nowrap !important;
	-webkit-font-smoothing: subpixel-antialiased;
	-moz-osx-font-smoothing: auto;
}

.table-responsive{
	border: none;
	position: relative;
	z-index: 1;
}

.propagationBox {
	position: relative;
	width: 8px;
	height: 8px;
	float: left;
	top: 5px;
	margin-right: 5px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
}

.bg-success,
.text-success .propagationBox {
	background: #3DCF35;
}

.bg-info,
.text-info .propagationBox {
	background: #FF4500;
}

.bg-warning,
.text-warning .propagationBox {
	background: #FF9641;
}

.bg-orange,
.text-orange .propagationBox {
	background: #c20061;
}

.bg-danger,
.text-danger .propagationBox {
	background: #FF4500;
}

.text-gray .propagationBox {
	background: none !important;
	border: 1px solid #777;
}

.bg-success,
.bg-info,
.bg-warning,
.bg-orange,
.bg-danger {
	color: #000;
}

.text-gray {
	color: #777 !important;
}

.text-orange {
	color: #c20061;
}

.container-fluid {
	padding-left: 30px;
	padding-right: 30px;
}

.stat-holder {
	background: transparent;
	border: 1px solid rgba(255,255,255,0.05);
}

.big-info {
	padding-top: 15px;
	padding-bottom: 15px;
}

.big-info .icon-full-width i {
	display: block;
	width: 85px;
	height: 70px;
	font-size: 70px;
	line-height: 70px;
	margin-right: 15px;
	margin-left: -15px;
}

.big-info span.small-title,
.big-info div.small-title-miner {
	display: block;
}

span.small-title,
div.small-title-miner {
	font-weight: 300;
	font-size: 14px;
	line-height: 20px;
	letter-spacing: 1px;
	text-transform: uppercase;
	color: #fff;
}

span.small-title span.small {
	font-size: 11px;
	font-weight: 600;
	line-height: 16px;
	letter-spacing: 0px;
	color: #fff;
	-webkit-font-smoothing: subpixel-antialiased;
	-moz-osx-font-smoothing: auto;
}

.big-info .big-details {
	display: block;
	font-weight: 400;
	font-size: 45px;
	line-height: 50px;
	letter-spacing: -4px;
	word-spacing: nowrap !important;
}

.big-info .big-details .small-hash {
	font-size: 87%;
}

.big-info .big-details-holder {
	position: absolute;
	top: 15px;
	left: 99px;
}

.big-info.chart {
	padding-top: 12px;
}

.big-info.chart .big-details {
	display: block;
	position: absolute;
	top: 40px;
}

.big-info.chart {
	height: 120px;
	-webkit-box-sizing: border-box
	box-sizing: border-box;
}

.big-info.chart.double-chart {
	height: 242px;
}

.blocks-holder {
	width: 288px;
	padding-top: 6px;
	margin-left: -2px;
}

.blocks-holder {
	-webkit-font-smoothing: subpixel-antialiased;
	-moz-osx-font-smoothing: auto;
}

.blocks-holder div.small-title-miner {
	font-family: "Lucida Console", "Courier New", Courier, monospace;
	font-size: 11px;
	letter-spacing: -0.1px;
	text-transform: none;
	white-space: nowrap;
	color: #777;
}

.blocks-holder .block-count {
	font-family: 'Lucida Console', "Courier New", Courier, monospace;
	font-weight: bold;
	font-size: 10px;
	padding-top: 3px;
	float: right;
}

.blocks-holder .block {
	width: 6px;
	height: 6px;
	margin: 2px 1px 6px 0px;
	float: left;
	-webkit-border-radius: 1px;
	border-radius: 1px;
	opacity: .8;
}

.blocks-holder .block:first-child {
	margin-left: 0px;
}

.blocks-holder .block:last-child {
	margin-right: 0px;
}

.big-info.chart i {
	position: relative;
	top: 2px;
	left: -3px;
	font-size: 24px;
	-webkit-font-smoothing: subpixel-antialiased;
	-moz-osx-font-smoothing: auto;
	margin-right: 7px;
	float: left;
}

.big-info.chart i {
	font-size: 24px;
	top: -2px;
}

.small-value {
	font-weight: 300;
	-webkit-font-smoothing: subpixel-antialiased;
	-moz-osx-font-smoothing: auto;
	float: right;
}

.big-info .small-value {
	position: absolute;
	right: 14px;
	top: 10px;
}

table i {
	-webkit-font-smoothing: subpixel-antialiased;
	-moz-osx-font-smoothing: auto;
}

table th,
table td {
	border-bottom: 1px solid rgba(255,255,255,0.05) !important;
}

table td {
	line-height: 18px !important;
}

table th {
	color: #fff;
}

table th i {
	line-height: 1em;
	font-size: 20px;
}
table td i {
	position: relative;
	top: 2px;
	left: 2px;
}
table td.peerPropagationChart {
	padding: 4px 5px !important;
}
nodepropagchart {
	display: inline-block;
	width: 107px;
	height: 20px;
	vertical-align: top;
}

.table>tbody>tr>td,
.table>thead>tr>th {
	padding: 5px;
}

.th-nodecheck,
.td-nodecheck {
	width: 38px;
	text-align: center;
}

.td-nodecheck i {
	left: 0px;
}

.th-nodename {
	width: 300px;
	text-overflow: ellipsis;
}

.th-nodetype {
	width: 220px;
}

.th-latency {
	width: 100px;
}

.th-blockhash {
	width: 150px;
}

.th-blocktime {
	width: 110px;
}

.th-peerPropagationTime {
	width: 120px;
}

.th-peerPropagationChart {
	width: 140px;
}

.nodeInfo .tooltip .tooltip-inner {
	max-width: 400px;
	text-align: left;
	font-size: 12px;
}

.map-holder {
	padding: 0;
}

#mapHolder {
	position: relative;
	display: block;
	width: 100%;
	height: 242px;
	overflow: hidden;
}

#mapHolder > svg {
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	display: inline-block;
	position: absolute;
	top: 0;
	left: 0;
}

.jqsfield {
	position: relative;
	padding: 5px 0;
	width: auto;
	left: -50%;
	word-wrap: wrap;
	text-align: center;
}

.d3-tip {
	padding: 5px 0;
}

.jqsfield .tooltip-arrow {
	position: absolute;
	bottom: 0;
	left: 50%;
	margin-left: -5px;
	border-width: 5px 5px 0;
	border-top-color: #fff;
}

.datamaps-hoverover .tooltip-arrow,
.d3-tip .tooltip-arrow {
	position: absolute;
	top: -5px;
	left: 0px;
	margin-left: -5px;
	border-width: 0px 5px 5px 5px;
	border-bottom-color: #fff;
}

.d3-tip .tooltip-arrow {
	top: 0px;
	left: 50%;
}

.hoverinfo {
	position: relative;
	width: auto;
	left: -50%;
	text-align: center;
	color: #333;
	border: none !important;
	box-shadow: none !important;
	border-radius: 3px !important;
	padding: 5px !important;
	line-height: 14px !important;
}

.hoverinfo .propagationBox {
	top: 3px;
}

svg {
	overflow: visible !important;
}

svg .bars .bar {
	opacity: 1;
	shape-rendering: auto;
}

svg .bars .handle {
	opacity: 0;
}

svg .bars .highlight {
	opacity: 0;
}

svg .bars g:hover .highlight {
	opacity: 1;
}

svg .line {
	fill: none;
	stroke: #ff0000;
	stroke-width: 1.3px;
	stroke-linejoin: round;
	stroke-linecap: round;
	shape-rendering: geometric-precision;
	/*-webkit-svg-shadow: 0 0 7px #fff;*/
}

svg .bar text {
	text-anchor: end;
	font-size: 12px;
}

svg .axis path,
svg .axis line {
	fill: none;
	stroke: rgba(255,255,255,0.15);
	shape-rendering: crispEdges;
}
svg .axis text {
	fill: #777;
	font-size: 10px;
	letter-spacing: 0px;
	font-family: "Montserrat";
	font-weight: 700;
	-webkit-font-smoothing: subpixel-antialiased;
	-moz-osx-font-smoothing: auto;
}

svg .y.axis .tick:first-child text {
	opacity: 0;
}

.kowala{
	color: #fff !important;
	text-shadow: 2px 2px 2px #1f033d !important;
}

.kowala-inverse{
	color: #fe0053 !important;
	text-shadow: 2px 2px 2px #1f033d !important;
}

.navbar {
  background-color: rgba(0,0,0,0.25);
}

.navbar a {
  color: white;
  font-size: 0.85em;
}

.navbar li:hover, .navbar a:hover {
  background-color: rgba(0,0,0,0.15) !important;
}

.alert {
  position: relative;
}

.alert.alert-info {
  background-color: #d9edf744;
  border-color: #bce8f166;
  color: white;
}

.content {
  position: relative;
  z-index: 1000;
  width: 300%;
  margin-left: -100%;
  padding-bottom: 2em;
  margin-top: 2em;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  background-color: #20033f;
  padding-top: 2em;
  padding-bottom: 4em;
  min-height: 10em;
}

.content h4 {
  margin-top: 2em;
}

.content pre {
  padding: 1em;
  font-size: 0.8em;
  background-color: rgba(2555,255,255,0.1);
}
